Package: net.nextg3n.package
Name: Them Darks
Version: 0.1
Architecture: iphoneos-arm
Description: This is a test package from /u/nextg3n repository!
Depiction: https://jcercado.github.io/web/
Homepage: https://jcercado.github.io/repo/
Maintainer: Jose Cercado <jjcercado32@gmail.com>
Author: Jose Cercado <jjcercado32@gmail.com>
Section: Themes
